<h2 class="text-center my-4">Patients Section</h2>

<div class="container">
    <div class="text-center mt-4 d-flex flex-column align-items-center">
        <div class="btn-group d-flex flex-wrap gap-2">
            <a routerLink="/patients/all" class="btn btn-primary">Get All Patients</a>
            <a routerLink="/patients/add" class="btn btn-success">Add Patient</a>
            <a routerLink="/patients/update" class="btn btn-warning">Update Patient</a>
            <a routerLink="/patients/details" class="btn btn-info">Get Patient Details with Records</a>
        </div>
    </div>

    <div class="text-center mt-4">
        <a routerLink="/" class="btn btn-outline-secondary">Back to Home</a>
    </div>
</div>
